<!-- <div class="jumbotron jumbotron-fluid animete">

    <div class="container">

        <h1 class="display-3"> Comic App</h1>
        <p class="lead">Esta es una aplicación de comics</p>
    </div>

</div> -->


<div class="card animated fadeIn fast" style="width: 18rem;">
    <!-- <img src="src/assets/img/hulk.png" class="card-img-top" alt="30px"> -->
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>