<h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row">

    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>{{ heroe.nombre }}</h3>
        <hr>
        <p>
            {{ heroe.bio }}
        </p>
        <div>
            <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets\img\marvel-logo.png">
            <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets\img\dc-logo.png">
        </div>
    </div>

</div>


<!-- <div class="card mb-3" style="max-width: max-content;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="heroe.img" class="img-fluid rounded-start" [alt]="heroe.nombre">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <hr>
                <p class="card-text">bio del héroe</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div> -->